@model IdleUI.Models.GameModel
@{
    ViewData["Title"] = "Idle Game";
}

<div class="text-center">
    <h1 class="display-4 text-light">User ID: @Model.Id</h1>
    <p class="text-light">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET
            Core</a>.</p>
</div>
