.char-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.char-grid>.character-button {
    margin: 2px 2px;
}

.char-grid>.character {
    margin: 2px 2px;
    display: inline-block;
}

.size-character {
    height: 295px;
    width: 230px;
}

.bg-character {
    background-color: darkblue;
}

.character-button {
    padding: 0px;
    border-color: cyan;
    border-radius: 1rem;
}

.new-char-container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.new-char-content {
    position: absolute;
    background-color: darkblue;
    top: 3px;
    left: 3px;
    height: 289px;
    width: 224px;
    padding: .5rem;
    border-radius: 1rem;
}

.new-char-border {
    position: absolute;
    display: block;
    top: -50%;
    left: -50%;
    display: block;
    height: 200%;
    width: 200%;
    transform: rotate(-45deg);
    overflow: hidden;
    background: linear-gradient(to right, darkblue 20%, #ECD08C 40%, #ECD08C 60%, darkblue 80%);
    background-size: 200% auto;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}