.info-grid {
    display: inline-grid;
    text-align: left;
    grid-template-columns: auto auto;
}

.w-200px {
    width: 200px;
}

.info-grid label {
    margin-right: 5px;
}

.rounded-box {
    background-color: darkblue;
    padding: .5rem;
    border-radius: 1rem;
    display: inline-block;
}

.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.game-header {
    text-align: start;
}

.game-header a,
.game-header button,
.game-header .text-danger {
    margin-right: 10px;
}

.game-nav {
    display: inline;
    vertical-align: top;
}

.game-nav>a {
    margin-top: 8px;
}

.game-nav>a:first-child {
    margin-left: 10px;
}