.map {
    flex-grow: 1;
}

.map .carousel-control-prev,
.map .carousel-control-next {
    width: fit-content;
}

.area {
    height: 100%;
    display: flex;
    overflow: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.level-container {
    margin: auto;
    min-width: 100px;
}

.level {
    margin: auto;
    height: 150px;
    width: 90px;
}

.level:hover {
    border-color: darkcyan;
    border-width: 5px;
    border-style: outset;
    cursor: grab;
}

.level-node {
    position: relative;
    top: calc(50% + 10px);
    width: 50px;
}

.boss {
    width: 75px;
}

.level-pin {
    position: relative;
    top: calc(50% - 130px);
    width: 50px;
}

.level-text {
    position: relative;
    top: calc(50% + 10px);
    font-size: x-large;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

.background-Crater,
.background-Jungle,
.background-Peninsula,
.background-Plains,
.background-Plateau,
.background-River,
.background-Ruins,
.background-Shoreline,
.background-Tundra,
.background-Volcano {
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

.background-Shoreline {
    background-image: url("../../public/Shoreline.jpeg");
}

.background-Peninsula {
    background-image: url("../../public/Peninsula.jpeg");
}

.background-River {
    background-image: url("../../public/River.jpeg");
}

.background-Plains {
    background-image: url("../../public/Plains.jpeg");
}

.background-Tundra {
    background-image: url("../../public/Tundra.jpeg");
}

.background-Plateau {
    background-image: url("../../public/Plateau.jpeg");
}

.background-Jungle {
    background-image: url("../../public/Jungle.jpeg");
}

.background-Ruins {
    background-image: url("../../public/Ruins.jpeg");
}

.background-Crater {
    background-image: url("../../public/Crater.jpeg");
}

.background-Volcano {
    background-image: url("../../public/Volcano.jpeg");
}