.map {
    flex-grow: 1;
}

.map .carousel-control-prev,
.map .carousel-control-next {
    width: fit-content;
}

.area {
    height: 100%;
    display: flex;
    overflow: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.level-container {
    margin: auto;
    min-width: 75px;
}

.level {
    display: block;
    position: relative;
    background-color: transparent;
    margin: auto;
    height: 120px;
    width: 70px;
    padding: 0;
    border-width: 5px;
}

.level:hover {
    border-color: darkcyan;
    border-style: outset;
}

.level-node {
    position: absolute;
    top: 70px;
    left: calc(50% - 20px);
    width: 40px;
}

.boss {
    left: calc(50% - 30px);
    width: 60px;
}

.level-pin {
    position: absolute;
    top: 14px;
    left: calc(50% - 19px);
    width: 40px;
}

.level-text {
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: large;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

.background-Crater,
.background-Jungle,
.background-Peninsula,
.background-Plains,
.background-Plateau,
.background-River,
.background-Ruins,
.background-Shoreline,
.background-Tundra,
.background-Volcano {
    background-size: cover;
    background-position: center;
    background-attachment: local;
}

.background-Shoreline {
    background-image: url("../../public/Shoreline.jpeg");
}

.background-Peninsula {
    background-image: url("../../public/Peninsula.jpeg");
}

.background-River {
    background-image: url("../../public/River.jpeg");
}

.background-Plains {
    background-image: url("../../public/Plains.jpeg");
}

.background-Tundra {
    background-image: url("../../public/Tundra.jpeg");
}

.background-Plateau {
    background-image: url("../../public/Plateau.jpeg");
}

.background-Jungle {
    background-image: url("../../public/Jungle.jpeg");
}

.background-Ruins {
    background-image: url("../../public/Ruins.jpeg");
}

.background-Crater {
    background-image: url("../../public/Crater.jpeg");
}

.background-Volcano {
    background-image: url("../../public/Volcano.jpeg");
}

.enemy-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
}

.enemy-grid>.enemy {
    margin: 2px 2px;
    display: inline-block;
}

.bg-enemy {
    background-color: darkred;
}

.size-100 {
    height: 100%;
    width: 100%;
}

.enemy-tooltip {
    display: block;
    width: 250px;
    font-size: small;
    background-color: darkred;
    visibility: hidden;
    padding: 10px;
    border-radius: 1rem;
    position: absolute;
    z-index: 1;
    transform: translateY(-25%);
    opacity: 0;
    transition: opacity 0.3s;
}

.received-reward {
    opacity: 0.5;
}

.enemy:hover .enemy-tooltip {
    visibility: visible;
    opacity: 1;
}

.level-modal>.modal-dialog {
    width: 800px;
}

.select-party-carousel {
    min-height: 370px;
}

.select-party-carousel .carousel-control-prev,
.select-party-carousel .carousel-control-next {
    width: fit-content;
}