.map {
    flex-grow: 1;
}

.area {
    display: flex;
    overflow-x: auto;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
}

.level-container {
    display: flex;
    height: calc(100vh - 250px);
    min-width: 100px;
}

.level {
    margin: auto;
    height: 150px;
    width: 90px;
}

.level:hover {
    border-color: darkcyan;
    border-width: 5px;
    border-style: outset;
    cursor: grab;
}

.level-node {
    position: relative;
    top: calc(50% + 10px);
    width: 50px;
}

.boss {
    width: 75px;
}

.level-pin {
    position: relative;
    top: calc(50% - 118px);
    width: 50px;
}

.level-text {
    position: relative;
    top: calc(50% + 10px);
}