.add-button {
    display: flex;
    height: 270px;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.party-carousel {
    min-height: 390px;
}

.party-grid {
    flex-wrap: nowrap;
}

.party-grid>.character-button:first-child {
    margin-left: auto;
}

.party-grid>.character-button:last-child {
    margin-right: auto;
}